<div class="flex items-center justify-between mb-4">
  <h2 class="text-base font-semibold">Filters</h2>

  <%= turbo_frame_tag "properties_count" do %>
    <div class="text-xs">
      Displaying <%= @properties.size %>/<%= pluralize(Property.all.size, 'property') %>
    </div>
  <% end %>
</div>

<hr class="mb-6"/>

<%= form_with url: properties_path, method: :get, data: { controller: "buttonless-form", action: "change->buttonless-form#handleChange", turbo_action: "advance" } do %>
  <div class="mb-4">
    <label class="form-label">Home Type</label>
    <%= select_tag :home_type, options_for_select([['All Types', ''], ['Single Family', 'single_family'], ['Multi Family', 'multi_family'], ['Land', 'land'], ['Condo', 'condo']], params[:home_type]), class: "form-select" %>
  </div>

  <div class="mb-4">
    <label class="form-label">Price Range</label>
    <div class="flex items-center gap-2">
      <%= number_field_tag :min_price, params[:min_price], placeholder: "Min", class: "form-input" %>
      <%= number_field_tag :max_price, params[:max_price], placeholder: "Max", class: "form-input" %>
    </div>
  </div>

  <div class="mb-4">
    <label class="form-label">Bedrooms</label>
    <%= select_tag :beds, options_for_select([['Any', ''], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5], [6, 6]], params[:beds]), class: "form-select" %>
  </div>

  <div class="mb-4">
    <label class="form-label">Bathrooms</label>
    <%= select_tag :baths, options_for_select([['Any', ''], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5], [6, 6]], params[:baths]), class: "form-select" %>
  </div>

  <div class="mb-4">
    <label class="form-label">Sort By</label>
    <%= select_tag :sort_by, options_for_select([['Newest', 'newest'], ['Oldest', 'oldest'], ['Price (Low to High)', 'price_low_high'], ['Price (High to Low)', 'price_high_low']], params[:sort_by]), class: "form-select" %>
  </div>

  <div class="flex items-center justify-center mt-3">
    <%= link_to "Reset filters", root_path, class: "underline font-medium text-indigo-500 hover:text-indigo-600 text-sm" %>
  </div>

<% end %>
