<%= turbo_stream.append "properties" do %>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
    <%= render partial: "property", collection: @properties %>  </div>
<% end %>

<% if @pagy.next.present? %>
  <%= turbo_stream.replace "pagination" do %>
    <%= turbo_frame_tag "pagination", src: properties_path(page: @pagy.next, format: :turbo_stream, params: params.slice(:home_type, :min_price, :max_price, :beds, :baths, :sort_by)), loading: :lazy %>
  <% end %>
<% end %>

<%= turbo_stream.update "properties_count" do %>
  <div class="text-xs">
    Displaying <%= @filtered_properties.size %>/<%= pluralize(Property.all.size, 'property') %>
  </div>
<% end %>
